

  <section class="more-tokens-section">
    <div class="token-info-card">
      <h3 class="token-section-title">More Tokens</h3>
      <div class="more-tokens-grid">

        {% for coin_m in more_coins %}
          <a href="{% url 'coin_page_view' coin_m.chain.symbol coin_m.slug %}" class="token-card">
            <div class="token-card-header">

              <div class="token-card-logo">
                {% comment %} <span class="token-logo-text">ETH</span> {% endcomment %}
                {% if coin_m.image %}
                  <img class="coin-logo-small" src="{{ coin_m.image.url }}" alt="Image coin {{ coin_m.name }}" loading="lazy">
                {% else %}
                  <img src="/media/default_placeholder.webp" class="chain-icon" alt="No Image" aria-label="No Image" loading="lazy">
                {% endif %}
              </div>

              <div class="token-card-info">
                <div class="token-card-name">{{ coin_m.name }}</div>
                <div class="token-card-symbol">{{ coin_m.symbol }}</div>
              </div>
            </div>

            <div class="format-price mini">
              <div>{{ coin_m.format_price }}</div>
            </div>

            {% if coin_m.price_change_24h > 0 %}
              <div class="token-card-change token-card-change-positive">+{{ coin_m.price_change_24h }}% 24h</div>
            {% elif coin_m.price_change_24h < 0 %}
              <div class="token-card-change token-card-change-negative">{{ coin_m.price_change_24h }}% 24h</div>
            {% elif coin_m.price_change_24h == 0 %}
              <div class="token-card-change">{{ coin_m.price_change_24h }}% 24h</div>
            {% else %}
              <div class="token-card-change"> — </div>
            {% endif %}
          </a>
        {% endfor %}

      </div>
    </div>
  </section>
