{% extends 'app/site/base.html' %}
{% load static %}


{% block title %}
  Submit Token add Successfully - CryptoMagneto
{% endblock %}

{% block extra_head %}
{% endblock %}


{% block content %}
  <main class="container">
    <section class="submit-token-section">
      <div class="submit-token-header">
        <h1 class="submit-token-title">Token Submitted for Review</h1>
        <p class="submit-token-subtitle">
          Your cryptocurrency token has been successfully submitted and is now under review by the CryptoMagneto team.
          Our administrators will check the provided information, and once approved, your token will appear on the website.
        </p>
      </div>
    </section>
  </main>
{% endblock %}
