

<div class="filters-container">

  {% comment %} <button class="filter-btn filter-hot" data-sort-direction="desc">
    <span class="filter-icon">🔥</span>
    <span>Today's Hot</span>
  </button>
  <button class="filter-btn">
    <span>All Time Best</span>
  </button> {% endcomment %}
  {% comment %} <button class="filter-btn"><span>GemPad</span></button> {% endcomment %}

  {% for item_f in filt_and_sort.table_filters %}
    <button class="filter-btn" data-name="{{ item_f.name }}" data-value="{{ item_f.value }}"=""><span>{{ item_f.label }}</span></button>
  {% endfor %}


  <div class="filter-dropdown-wrapper">
    <select class="filter-btn filter-select">
      <option value="">Chain</option>

      {% for data_chain in filt_and_sort.used_chains %}
        <option data-name="{{ data_chain.name }}" value="{{ data_chain.slug }}">{{ data_chain.symbol }}</option>
      {% endfor %}

    </select>
  </div>

  <button class="filter-btn filter-reset" data-name="reset">
    <span class="filter-icon">✕</span>
    <span>Reset Filters</span>
  </button>
  
</div>
