:root {
    /* --ct-blue: #3688fc;
    --ct-indigo: #727cf5;
    --ct-purple: #6b5eae;
    --ct-pink: #ff679b;
    --ct-red: #fa6767;
    --ct-orange: #ff9041;
    --ct-yellow: #f9bc0d;
    --ct-green: #42d29d;
    --ct-teal: #02a8b5;
    --ct-cyan: #44badc;
    --ct-white: #fff;
    --ct-gray: #8a969c;
    --ct-gray-dark: #343a40;
    --ct-gray-100: #f6f7fb;
    --ct-gray-200: #eef2f7;
    --ct-gray-300: #dee2e6;
    --ct-gray-400: #ced4da;
    --ct-gray-500: #a1a9b1;
    --ct-gray-600: #8a969c;
    --ct-gray-700: #919ca7;
    --ct-gray-800: #343a40;
    --ct-gray-900: #313a46;
    --ct-primary: #3688fc;
    --ct-secondary: #919ca7;
    --ct-success: #42d29d;
    --ct-info: #44badc;
    --ct-warning: #f9bc0d;
    --ct-danger: #fa6767;
    --ct-light: #eef2f7;
    --ct-dark: #313a46;
    --ct-primary-rgb: 54, 136, 252;
    --ct-secondary-rgb: 145, 156, 167;
    --ct-success-rgb: 114, 234, 125;
    --ct-info-rgb: 68, 186, 220;
    --ct-warning-rgb: 249, 188, 13;
    --ct-danger-rgb: 250, 103, 103;
    --ct-light-rgb: 238, 242, 247;
    --ct-dark-rgb: 49, 58, 70;
    --ct-white-rgb: 255, 255, 255;
    --ct-black-rgb: 0, 0, 0;
    --ct-body-color-rgb: 145, 156, 167;
    --ct-body-bg-rgb: 250, 251, 254;
    --ct-font-sans-serif: "Ubuntu", sans-serif;
    --ct-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --ct-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --ct-body-font-family: Ubuntu, sans-serif;
    --ct-body-font-size: 0.9rem;
    --ct-body-font-weight: 400;
    --ct-body-line-height: 1.5;
    --ct-body-color: #FFFFFF;
    --ct-body-bg: #fafbfe;
    --ct-border-width: 1px;
    --ct-border-style: solid;
    --ct-border-color: #dee2e6;
    --ct-border-color-translucent: rgba(0, 0, 0, 0.175);
    --ct-border-radius: 0.25rem;
    --ct-border-radius-sm: 0.2rem;
    --ct-border-radius-lg: 0.3rem;
    --ct-border-radius-xl: 1rem;
    --ct-border-radius-2xl: 2rem;
    --ct-border-radius-pill: 50rem;
    --ct-link-color: #2AB4B0;
    --ct-link-hover-color: #2AB4B0;
    --ct-code-color: #44badc;
    --ct-highlight-bg: var(--ct-mark-bg);

    --ct-box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
    --ct-box-shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
    --ct-box-shadow-lg: 0 0 45px 0 rgba(0, 0, 0, 0.12);
    --ct-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --ct-component-active-color: #fff;
    --ct-component-active-bg: #3688fc;
    --ct-text-muted: #8a969c;
    --ct-blockquote-footer-color: #8a969c;
    --ct-mark-bg: #fcf8e3;
    --ct-form-text-color: var(--ct-text-muted);
    --ct-input-bg: #fff;
    --ct-input-disabled-bg: #eef2f7;
    --ct-input-color: #919ca7;
    --ct-input-border-color: #dee2e6;
    --ct-input-box-shadow: var(--ct-box-shadow-inset);
    --ct-input-focus-bg: var(--ct-input-bg);
    --ct-input-focus-border-color: #c8cbcf;
    --ct-input-focus-color: var(--ct-input-color);
    --ct-input-placeholder-color: #fff;
    --ct-input-plaintext-color: #fff;
    --ct-form-check-input-bg: #fff;
    --ct-form-check-input-border: 1px solid #ced4da;
    --ct-form-check-input-checked-color: var(--ct-component-active-color);
    --ct-form-check-input-checked-bg-color: var(--ct-component-active-bg);
    --ct-form-check-input-checked-border-color: var(--ct-form-check-input-checked-bg-color);
    --ct-form-check-input-indeterminate-color: var(--ct-component-active-color);
    --ct-form-check-input-indeterminate-bg-color: var(--ct-component-active-bg);
    --ct-form-check-input-indeterminate-border-color: var(--ct-component-active-bg);
    --ct-form-switch-color: #dee2e6;
    --ct-input-group-addon-color: var(--ct-input-color);
    --ct-input-group-addon-bg: #eef2f7;
    --ct-input-group-addon-border-color: #dee2e6;
    --ct-form-select-color: var(--ct-input-color);
    --ct-form-select-bg: var(--ct-input-bg);
    --ct-form-select-disabled-color: #8a969c;
    --ct-form-select-disabled-bg: #eef2f7;
    --ct-form-select-disabled-border-color: ;
    --ct-form-select-indicator-color: #343a40;
    --ct-form-range-track-bg: #dee2e6;
    --ct-form-range-track-box-shadow: var(--ct-box-shadow-inset);
    --ct-form-range-thumb-box-shadow: 0 .1rem .25rem rgba(0, 0, 0, 0.1);
    --ct-form-range-thumb-active-bg: #c3dbfe;
    --ct-form-range-thumb-disabled-bg: #a1a9b1;
    --ct-form-file-button-color: var(--ct-input-color);
    --ct-form-file-button-bg: #eef2f7;
    --ct-form-file-button-hover-bg: #e2e6eb;
    --ct-thumbnail-bg: #fff;
    --ct-thumbnail-border-color: #dee2e6;
    --ct-thumbnail-box-shadow: var(--ct-box-shadow-sm);
    --ct-btn-close-color: #ffffff;
    --ct-kbd-color: #fff;
    --ct-kbd-bg: #313a46;
    --ct-pre-color: ;
    --ct-bg-leftbar: #fff;
    --ct-menu-item: #cedce4;
    --ct-menu-item-hover: #fff;
    --ct-menu-item-active: #fff;
    --ct-bg-topbar: #fff;
    --ct-bg-topbar-search: #f0f3f8;
    --ct-nav-user-bg-topbar: #fafafd;
    --ct-nav-user-border-topbar: #414d5d;
    --ct-notification-border-color: #eef2f7;
    --ct-notification-bg: #f6f7fb;
    --ct-bg-dark-topbar: #313a46;
    --ct-bg-dark-topbar-search: #3c4655;
    --ct-nav-user-bg-dark-topbar: #3c4655;
    --ct-nav-user-border-dark-topbar: #414d5d;
    --ct-bg-leftbar-gradient: linear-gradient(135deg, #8f75da 0%, #727cf5 60%);
    --ct-bg-topnav: #313a46;
    --ct-boxed-layout-bg: #fff;
    --ct-help-box-light-bg: rgba(255, 255, 255, 0.07);
    --ct-help-box-dark-bg: #3688fc;
    --ct-nav-pills-bg: #eef2f7;
    --ct-custom-accordion-title-color: #313a46;
    --ct-dragula-bg: #f7f9fb;
    --ct-form-wizard-header-bg: #eef2f7;
    --ct-text-title-color: #6c757d;
    --ct-page-title-color: #919ca7;
    --ct-card-loader-bg: #313a46;
    --ct-chat-primary-user-bg: #fef5e4;
    --ct-chat-secondary-user-bg: #f1f3fa;
    --ct-auth-bg: #fff;
    --ct-apex-grid-color: #f9f9fd;
    --ct-hero-bg: linear-gradient(to bottom, #8669ed, #727cf5);
    --ct-display-dark: block;
    --ct-display-light: none; */


    --ct-body-font-family: Ubuntu, sans-serif;
    --ct-body-font-size: 0.9rem;
    --ct-body-font-weight: 400;
    --ct-body-line-height: 1.5;
    --ct-body-text-align: left;
    --ct-border-radius-pill: 50rem;

    --ct-card-color: #1f2937;
    --ct-body-color: #1f2937;
    --ct-success-rgb: 34, 197, 94;
    --ct-box-shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);

    --ct-modal-content-bg: #ffffff;
    --ct-gray-600: #6b7280;
    --ct-input-color: #1f2937;
    --ct-btn-close-color: #6b7280;
    --ct-input-bg: #f9fafb;
    --ct-input-border-color: #e5e7eb;
    --ct-dropdown-color: #374151;
    --ct-link-color: #3b82f6;
    --ct-dropdown-bg: #ffffff;
    --ct-dropdown-border-color: #e5e7eb;
    --ct-dropdown-divider-bg: #e5e7eb;
    --ct-dropdown-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    --ct-dropdown-link-color: #374151;
    --ct-dropdown-link-hover-color: #1f2937;
    --ct-dropdown-link-hover-bg: #f3f4f6;
    --ct-dropdown-link-active-color: #ffffff;
    --ct-dropdown-link-active-bg: #3b82f6;
    --ct-dropdown-link-disabled-color: #9ca3af;
    --ct-danger-rgb: 239, 68, 68;
    --ct-modal-content-box-shadow-xs: var(--ct-box-shadow-sm);
    --ct-modal-header-border-color: #e5e7eb;
    --ct-modal-footer-border-color: #e5e7eb;
    -ct-modal-content-box-shadow-sm-up: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);

    --ct-table-striped-color: #374151;
    --ct-table-striped-bg: rgba(249, 250, 251, 0.8);
    --ct-table-active-color: var(--ct-body-color);
    --ct-table-active-bg: #eff6ff;
    --ct-table-hover-color: var(--ct-body-color);
    --ct-table-hover-bg-custom: #f3f4f6;
    --ct-table-hover-bg: #f9fafb;
    --ct-table-group-separator-color: #e5e7eb;
    --ct-table-caption-color: var(--ct-text-muted);
    --ct-form-select-color: var(--ct-input-color);
}

@font-face {
    font-family: "Material Design Icons";
    src: url("../../fonts/materialdesignicons-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

html {
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    font-size: 100%;
    font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0,0,0,1%)0 0 1px;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
    min-width: 320px;
    background-color: #00171c;
    overflow-x: hidden!important;
    overflow-y: auto!important;
    padding: 0!important;
    margin: 0;
    font-family: var(--ct-body-font-family);
    font-size: var(--ct-body-font-size);
    font-weight: var(--ct-body-font-weight);
    line-height: var(--ct-body-line-height);
    color: var(--ct-body-color);
    text-align: var(--ct-body-text-align);
    background:
        radial-gradient(
            circle at 20% 10%,
            rgb(59 130 246 / 8%),
            transparent 50%
            ),
        radial-gradient(
            circle at 80% 90%,
            rgb(139 92 246 / 6%),
            transparent 50%),
        radial-gradient(
            circle at 50% 50%,
            rgb(236 72 153 / 4%),
            transparent 50%
        ),
        linear-gradient(135deg, #f8fafc 0%, #ffffff 100%);
}

body.authentication-bg {
    background-size: cover;
    background-position: 50%;
}


h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: .75rem;
    font-weight: 700;
    line-height: 1.1;
}
h4, .h4 {
    font-size: 27px;
    line-height: 130%;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
}

label {
    display: inline-block;
    font-weight: 600;
}

a {
    color: var(--ct-link-color);
    text-decoration: none;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
b, strong {
    font-weight: 700;
}

button, a {
    outline: none!important;
}

.btn {
    --ct-btn-padding-x: 1rem;
    --ct-btn-padding-y: 0.8rem;
    --ct-btn-font-family: ;
    --ct-btn-font-size: 0.9rem;
    --ct-btn-font-weight: 300;
    --ct-btn-line-height: 1.5;
    --ct-btn-color: #919ca7;
    --ct-btn-bg: transparent;
    --ct-btn-border-width: 0;
    --ct-btn-border-color: transparent;
    --ct-btn-border-radius: 0.15rem;
    --ct-btn-box-shadow: 0 0 0;
    --ct-btn-disabled-opacity: 0.65;
    --ct-btn-focus-box-shadow: 0 0 0 0 rgba(var(--ct-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--ct-btn-padding-y)var(--ct-btn-padding-x);
    font-family: var(--ct-btn-font-family);
    font-size: var(--ct-btn-font-size);
    font-weight: var(--ct-btn-font-weight);
    line-height: var(--ct-btn-line-height);
    color: var(--ct-btn-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: var(--ct-btn-border-width)solid var(--ct-btn-border-color);
    border-radius: var(--ct-btn-border-radius);
    background-color: var(--ct-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

/* ====================================================================== */
.me-1 {
    margin-right: .375rem!important;
}
.mb-0 {
    margin-bottom: 0!important;
}
.mb-3 {
    margin-bottom: 1.5rem!important;
}
.mt-0 {
    margin-top: 0!important;
}
.mt-3 {
    margin-top: 1.5rem!important;
}
.ms-1 {
    margin-left: .375rem!important;
}
.p-4 {
    padding: 2.25rem!important;
}
.pb-0 {
    padding-bottom: 0!important;
}
.pb-4 {
    padding-bottom: 2.25rem!important;
}
.pt-2 {
    padding-top: .75rem!important;
}

.col-12 {
    flex: none;
    width: 100%;
}

.font-16 {
    font-size: 16px!important;
}
.align-middle {
    vertical-align: middle!important;
}
.fw-bold {
    font-weight: 700!important;
}
.text-muted {
    --ct-text-opacity: 1;
    color: var(--ct-text-muted)!important;
}
.float-end {
    float: right!important;
}
.rounded-pill {
    border-radius: var(--ct-border-radius-pill)!important;
}
.w-50 {
    width: 50%!important;
}
.w-100 {
    width: 100%!important;
}
/* ====================================================================== */

body.authentication-bg .account-pages {
    align-items: center;
    display: flex;
    min-height: 100vh;
}


.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --ct-gutter-x: 24px;
    --ct-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--ct-gutter-x) * .5);
    padding-left: calc(var(--ct-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.row {
    --ct-gutter-x: 24px;
    --ct-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--ct-gutter-y));
    margin-right: calc(-.5 * var(--ct-gutter-x));
    margin-left: calc(-.5 * var(--ct-gutter-x));
}
.row>* {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--ct-gutter-x) * .5);
    padding-left: calc(var(--ct-gutter-x) * .5);
    margin-top: var(--ct-gutter-y);
}

.justify-content-center {
    justify-content: center!important;
}

.card {
    --ct-card-spacer-x: 1.5rem;
    --ct-card-spacer-y: 1.5rem;
    --ct-card-border-radius: 16px;
    --ct-card-bg: #ffffff;
    --ct-card-cap-padding-y: 1.125rem;
    --ct-card-cap-padding-x: 1.5rem;
    --ct-card-cap-color: #1f2937;
    --ct-card-cap-bg: #ffffff;
    --ct-card-border-width: 1px;
    --ct-card-border-color: #e5e7eb;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: var(--ct-card-bg);
    border: var(--ct-card-border-width) solid var(--ct-card-border-color);
    border-radius: var(--ct-card-border-radius);
    word-wrap: break-word;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}
.card-body {
    flex: auto;
    padding: var(--ct-card-spacer-y)var(--ct-card-spacer-x);
    color: var(--ct-card-color);
}

.alert-danger {
    --ct-alert-color: #ffffff;
    --ct-alert-bg: rgba(190, 18, 60, 0.3);
    --ct-alert-border-color: rgba(190, 18, 60, 0.3);
}
.alert {
    --ct-alert-bg: transparent;
    --ct-alert-padding-x: 1.25rem;
    --ct-alert-padding-y: 0.8rem;
    --ct-alert-margin-bottom: 0;
    --ct-alert-margin-top: 1rem;
    --ct-alert-color: inherit;
    --ct-alert-border-color: transparent;
    --ct-alert-border: 0px solid var(--ct-alert-border-color);
    --ct-alert-border-radius: 0.25rem;
    position: relative;
    padding: var(--ct-alert-padding-y)var(--ct-alert-padding-x);
    margin-bottom: var(--ct-alert-margin-bottom);
    margin-top: var(--ct-alert-margin-top);
    color: var(--ct-alert-color);
    background-color: var(--ct-alert-bg);
    border: var(--ct-alert-border);
    border-radius: var(--ct-alert-border-radius);
    font-size: 15px;
}
.d-none {
    display: none!important;
}
.alert-success {
    --ct-alert-color: #3fc895;
    --ct-alert-bg: rgba(66, 210, 157, 0.18);
    --ct-alert-border-color: rgba(66, 210, 157, 0.25);
}
[class*=" ri-"], [class^=ri-] {
    font-family: remixicon!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#old-login {
    color: #be123c;
    text-align: center;
    font-size: 14px;
}
.alert-dismissible {
    padding-right: 3.75rem;
}

.text-center {
    text-align: center!important;
}
.m-auto {
    margin: auto!important;
}
.w-75 {
    width: 75%!important;
}

.form-label {
    margin-bottom: .5rem;
}
.tx-title {
    color: #0f686a;
    font-weight: 500!important;
}


input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.form-control {
    display: block;
    width: 100%;
    padding: .45rem .9rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--ct-input-color);
    background-color: var(--ct-input-bg);
    background-clip: padding-box;
    border: 1px solid var(--ct-input-border-color);
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-group>.form-control, .input-group>.form-select, .input-group>.form-floating {
    position: relative;
    flex: auto;
    width: 1%;
    min-width: 0;
}
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating), .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control, .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.form-floating):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback), .input-group>.form-floating:not(:first-child)>.form-control, .input-group>.form-floating:not(:first-child)>.form-select {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: .45rem .9rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--ct-input-group-addon-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--ct-input-group-addon-bg);
    border: 1px solid var(--ct-input-group-addon-border-color);
    border-radius: .25rem;
}

.password-eye {
    cursor: pointer;
}
.password-eye:before {
    font-family: material design icons;
    content: "\f06d0";
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    vertical-align: middle;
    line-height: 1.2;
    font-size: 16px;
}

.btn-primary {
    --ct-btn-color: #FFFFFF;
    --ct-btn-bg: #1E2F3D;
    --ct-btn-border-color: #1E2F3D;
    --ct-btn-hover-color: #2AB4B0;
    --ct-btn-hover-bg: #1E2F3D;
    --ct-btn-hover-border-color: #2b6dca;
    --ct-btn-focus-shadow-rgb: 84, 154, 252;
    --ct-btn-active-color: #fff;
    --ct-btn-active-bg: #1E2F3D;
    --ct-btn-active-border-color: #2966bd;
    --ct-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --ct-btn-disabled-color: #fff;
    --ct-btn-disabled-bg: #1B807D33;
    --ct-btn-disabled-border-color: #1B807D33;
}
.btn-primary {
    box-shadow: 0 0 rgba(var(--ct-primary-rgb),.5);
}
button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
}
.btn-login .btn {
    background-color: #3b82f6 !important;
    border-color: #2ab4b0;
    font-weight: 500;
    font-size: 15px;
    width: 93px;
    line-height: 14px;
}
.btn-login {
    font-size: 22px;
    vertical-align: middle;
    padding-left: 5px;
}
.btn-login a:hover, .btn-login button:hover {
    background-color: #2563eb !important;
    border-color: #2563eb !important;
    transform: translateY(-2px);
    box-shadow: 0 8px 16px -4px rgba(59, 130, 246, 0.4), 0 4px 8px -2px rgba(59, 130, 246, 0.3);
}

.recaptcha-branding {
    color: #242222;
    font-size: 75%;
    font-weight: 400;
    padding-top: 30px;
}
.recaptcha-branding a {
    color: #1061b5;
}

#old-login-bottom {
    font-size: 18px;
    text-align: center;
    color: rgb(17 18 19);
}


.footer {
    border-top: 1px solid rgba(138,150,156,.2);
    bottom: 0;
    padding: 19px 24px 20px;
    right: 0;
    color: var(--ct-gray-600);
    left: 260px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.footer-alt {
    border: none;
    text-align: center;
}


.form-check-input {
    width: 1.112em;
    height: 1.112em;
    margin-top: .194em;
    vertical-align: top;
    background-color: var(--ct-form-check-input-bg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    border: var(--ct-form-check-input-border);
    appearance: none;
    print-color-adjust: exact;
    transition: background-color .15s ease-in-out,background-position .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.form-check .form-check-input {
    float: left;
    margin-left: -1.612em;
}
.form-check {
    display: block;
    min-height: 1.35rem;
    padding-left: 1.612em;
    margin-bottom: 0;
}
.form-check-input[type=checkbox] {
    border-radius: .25em;
}
.fw-normal {
    font-weight: 400!important;
}
.btn-login-red .btn {
    background-color: #fd6d71!important;
    border-color: #fd6d71!important;
    color: #fff;
}


.form-check-input[type=checkbox] {
    border-radius: .25em;
}
.form-check-input:checked {
    background-color: var(--ct-form-check-input-checked-bg-color);
    border-color: var(--ct-form-check-input-checked-border-color);
}
.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

/* ============================================================================ */

@media (min-width: 576px) {
    .pt-sm-5 {
        padding-top: 4.5rem !important;
    }
    .pb-sm-5 {
        padding-bottom: 4.5rem !important;
    }
    .container-sm, .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
    }
    .col-lg-5 {
        flex: none;
        width: 41.66666667%;
    }
}

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1320px;
    }
    .col-xxl-4 {
        flex: none;
        width: 33.33333333%;
    }
}

